car-acceleration 1 # the max acceleration for a car
car-reaction-time 1 # the time it takes a car to react to change
car-initial-speed 14 # the speed cars a summon with
car-collision-detection-radius 100 # the radius for collision squared

# amount of cars to go through the intersection ?
car-total-amount 2000 # Total amount of cars needed to go through the intersection
# any routes that are favoured ? 

chance-of-traffic-from-north 45 # chance for a car to pick one of the these routes.
chance-of-north-to-south 100 # chance for the car to pick this route

chance-of-traffic-from-south 55 # chance for a car to pick one of the these routes.
chance-of-south-to-north  100 # chance for the car to pick this route
chance-of-south-to-east   0 # chance for the car to pick this route
chance-of-south-to-west   0 # chance for the car to pick this route

chance-of-traffic-from-west 0 # chance for a car to pick one of the these routes.
chance-of-west-to-south   0 # chance for the car to pick this route
chance-of-west-to-east    0 # chance for the car to pick this route

chance-of-traffic-from-east 0 # chance for a car to pick one of the these routes.
chance-of-east-to-south   0 # chance for the car to pick this route
chance-of-east-to-north   0 # chance for the car to pick this route
chance-of-east-to-west   0 # chance for the car to pick this route


traffic-light-green 285 # seconds light is green
traffic-light-red 15 # seconds light is red

plusbus-fill-percent 0.8 # between 0 and 1
weather 1 # sun:0, rain:1, fog:2 or snow:3

sim-duration 3600 # the length of the simulation in seconds
