car-initial-speed 14 # the speed cars a summon with
car-collision-detection-radius 50 # the radius for collision squared

car-total-amount 3000 # Total amount of cars needed to go through the intersection

chance-of-traffic-from-north 38 # chance for a car to pick one of the these routes.
chance-of-north-to-south 100 # chance for the car to pick this route

chance-of-traffic-from-south 44 # chance for a car to pick one of the these routes.
chance-of-south-to-north 75 # chance for the car to pick this route
chance-of-south-to-east 13 # chance for the car to pick this route
chance-of-south-to-west 12 # chance for the car to pick this route

chance-of-traffic-from-west 8 # chance for a car to pick one of the these routes.
chance-of-west-to-south 90 # chance for the car to pick this route
chance-of-west-to-east 10 # chance for the car to pick this route

chance-of-traffic-from-east 10 # chance for a car to pick one of the these routes.
chance-of-east-to-south 40 # chance for the car to pick this route
chance-of-east-to-north 40 # chance for the car to pick this route
chance-of-east-to-west 20 # chance for the car to pick this route

traffic-light-green 60 # seconds light is green
traffic-light-red 45 # seconds light is red

sim-duration 3600 # the length of the simulation in seconds
